/* header */
.header{
    position: fixed;
    z-index: 20;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

/* 로고 */
.logo{
    height: 40px;
    display: block;
}
